.nav{
    width: var(--menu-width);
    display: flex;
    transform-style: preserve-3d;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    margin: 0px auto;
    perspective: 2000px;
    flex-wrap: wrap;
    top: 0px;
    text-decoration: none;
    position: fixed;
   /* background-color: #8978ed;*/
}

nav a{
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700;
    font-size: 15px;
    font-family: Pacifico, serif;
    
}

/*.nav a:hover {
    background-color: #000000; 
    transition: 0.5s;
    opacity: 0.7;
}*/

li{
    display: inline-flex;
    padding-right: 25px;
}

.menu-text {
    color: grey;
}